#panel {
  display: flex;
  max-height: 100%;
}

#projects {
  width: 200px;
  overflow-y: scroll;
}

#projects table, th, td {
  line-height: 100px;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

#projects tr:hover {
  background-color: #b1c5cb;
  cursor: pointer;
}
