#tasks table {
  border-collapse: collapse;
}
#tasks table, #tasks th, #tasks td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

#panel {
  display: flex;
  max-height: 100%;
  visibility: hidden;
}

#projects {
  width: 200px;
  overflow-y: scroll;
  margin-right: 10px;
}
#projects table, #projects th, #projects td {
  line-height: 100px;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
#projects tr:hover {
  background-color: #b1c5cb;
  cursor: pointer;
}

input {
  cursor: pointer;
}

#teddy {
    width: 20%;
    image-rendering: pixelated;    /* Chrome */
    image-rendering: crisp-edges;  /* Firefox */
    display: none;
    /* center */
    position: absolute;
    top: 30%;
    left: 40%;
    /* animation */
    -webkit-animation: fadein 0.8s linear infinite alternate;
    outline: 1px solid transparent;
}

@-webkit-keyframes fadein{
    from {
       transform: rotate(10deg);
    }
    to {
        transform: rotate(-10deg);
    }
}
